
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 60px; /* Adjust to match your footer's height */
}

.container {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-weight: bold;
}
* RESEED CSS */

.status-table {
    width: 100%;
    border-collapse: collapse;
}
.status-table th, .status-table td {
    text-align: left;
    padding: 8px;
}
.status-table th {
    background-color: #f2f2f2;
}
.status-icon {
    height: 20px;
    vertical-align: middle;
}
.last-checked {
    margin-top: 20px;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.glowing-green {
    background-color: #00cd00;
}
.glowing-red {
    background-color: #ff0000;
}

