@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("../fonts/InterVariable.woff2") format("woff2");
}
body {
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: InterVariable, sans-serif;
}
.header {
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
}
.logo {
    max-width: 325px;
    margin-bottom: 1px;
}
.status-indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.proxy-status {
    background-color: green;
}
.no-proxy-status {
    background-color: red;
}
.message {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.donate-banner {
    background-color: #d3d3d3;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: bold;
}
.donate-banner span, .donate-banner .copy-confirmation {
    cursor: pointer;
    color: black; 
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.copy-confirmation {
    display: none;
    color: green;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold; 
}
footer a {
    color: white; /* Keep the links white */
    text-decoration: none; 
    margin-left: 10px;
    margin-right: 10px;
}
footer a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.status-light {
    height: 60px;
    margin-right: 10px;
}
.connected-text, .location-text {
    display: inline-block;
    margin-bottom: 5px; /* Adjust this value as needed */
}