

body {
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
}
.logo {
    max-width: 325px;
    margin-bottom: 1px;
}
.status-indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.proxy-status {
    background-color: green;
}
.no-proxy-status {
    background-color: red;
}
.message {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.donate-banner {
    background-color: #d3d3d3;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    font-weight: bold;
}
.donate-banner span, .donate-banner .copy-confirmation {
    cursor: pointer;
    color: black; 
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
.copy-confirmation {
    display: none;
    color: green;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold; 
}
footer a {
    color: white; /* Keep the links white */
    text-decoration: none; 
    margin-left: 10px;
    margin-right: 10px;
}
footer a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.status-light {
    height: 60px;
    margin-right: 10px;
}
.connected-text, .location-text {
    display: inline-block;
    margin-bottom: 5px; /* Adjust this value as needed */
}



.status-table {
    width: 100%;
    border-collapse: collapse;
}
.status-table th, .status-table td {
    text-align: left;
    padding: 8px;
}
.status-table th {
    background-color: #f2f2f2;
}
.status-table td {
    text-align: left;
    vertical-align: middle;
}
.status-icon {
    height: 20px;
    vertical-align: middle;
}
.last-checked {
    margin-top: 20px;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.glowing-green {
    background-color: #00cd00;
}
.glowing-red {
    background-color: #ff0000;
}

.glowing-yellow {
    background-color: #ffcc00; /* Yellow color for warning */
}
.dot:hover::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 1;
    margin-bottom: 5px;
}
.status-text {
    cursor: pointer;
}

.dot:hover::after, .status-text:hover::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 1;
    margin-bottom: 5px;
}
.status-container:hover::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 1;
    margin-bottom: 5px;
}
.custom-footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative; /* Adjust as needed */
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: center; /* Center the footer content */
}

.custom-footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-footer a:hover {
    text-decoration: underline;
}
